.container-section {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.products-title {
  font-size: 75px;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  margin-top: 10vh;

}
.products-sub-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20vh;
}

.container-section-products {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 36px;

}
