<app-main-home></app-main-home>

<section class="container-section">
  <app-home-small-product-section [imgUrl]='"./assets/art.png"' [sectionName]='"art"' [titleName]='"design"'
    [colorTitle]='"#8B8B8B"' [colorSection]='"white"' [colorbackground]='"#212121"'></app-home-small-product-section>

  <app-home-small-product-section [imgUrl]='"./assets/camara.png"' [sectionName]='"Production"'
    [titleName]='"filmmaker"' [colorTitle]='"#273B5A"' [colorSection]='"white"' [colorbackground]='"#4B74B4"'>
  </app-home-small-product-section>

  <app-home-big-product-section [imgUrl]='"./assets/laptop.png"' [sectionName]='"Devices"' [titleName]='"Laptop"'
    [colorTitle]='"##AC0200"' [colorSection]='"white"' [colorbackground]='"#ED3836"'>
  </app-home-big-product-section>

  <app-home-big-product-section [imgUrl]='"./assets/ink.png"' [sectionName]='"Education"' [titleName]='"kits"'
    [colorTitle]='"#727272"' [colorSection]='"black"' [colorbackground]='"#D5D3D3"'>
  </app-home-big-product-section>

  <app-home-small-product-section [imgUrl]='"./assets/pico.png"' [sectionName]='"Electronica"' [titleName]='"Pi pico"'
    [colorTitle]='"#005D2D"' [colorSection]='"white"' [colorbackground]='"#00D165"'></app-home-small-product-section>

  <app-home-small-product-section [imgUrl]='"./assets/game.png"' [sectionName]='"Game"' [titleName]='"Console"'
    [colorTitle]='"#464646"' [colorSection]='"white"' [colorbackground]='"#9C9C9C"'>
  </app-home-small-product-section>
</section>

<section class="container-section container-evening">

  <app-home-safe-section [imgUrl]='"./assets/envío-gratuito-50.png"' [titleName]='"Free Shipping"'
    [textName]='"Free Shipping On all products"'>
  </app-home-safe-section>

  <app-home-safe-section [imgUrl]='"./assets/garantía-50.png"' [titleName]='"Money Guarantee"'
    [textName]='"30 day money back"'>
  </app-home-safe-section>

  <app-home-safe-section [imgUrl]='"./assets/soporte-en-línea-50.png"' [titleName]='"online support 24/7"'
    [textName]='"tecnical suport 24/7"'>
  </app-home-safe-section>

  <app-home-safe-section [imgUrl]='"./assets/seguridad-de-la-tarjeta-50.png"' [titleName]='"Secure payment"'
    [textName]='"All carts accepted"'>
  </app-home-safe-section>
</section>

<h2 id="shop" class="products-title">Best seller products</h2>
<h3 class="products-sub-title">Speaker These are many variations passages</h3>

<div class="container-section-products">
  <div class="container-section-products" *ngIf="produdctsList">

    <app-products-item *ngFor="let produdct of produdctsList" [imgUrl]='produdct.imgUrl' [productId]='produdct.id'
      [prodcutName]='produdct.name' [productPrice]='produdct.price'>
    </app-products-item>

  </div>