<section *ngIf="product">
  <figure> <img src={{product.imgUrl}} alt={{product.name}}> </figure>
  <div class="container-info">
    <h2>MoonMakers</h2>
    <h3>{{product.name}}</h3>
    <p>Description</p>
    <p>Bla bla Bla bla Bla bla Bla bla Bla bla Bla bla Bla bla Bla</p>
    <p><b>${{product.price}}</b></p>
    <div class="cart-secction">
      <form class="cart-secction-container" (ngSubmit)="addToBookmarks()">
        <select name="product number" [(ngModel)]="product_number">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <button [disabled]="productCart" type="submit">Add to car</button>
      </form>
    </div>
  </div>
</section>