<div class="cart-item">
  <figure class="image-product-container"><img src="./assets/laptop.png" alt=""></figure>
  <div class="product-info-container">
    <p class="product-info-titile">Maker computer</p>
    <p class="product-info-sub-titile">Moonmakers</p>
  </div>
  <div class="product-amount-container">
    <button>+</button>
    <p class="product-amount-count">1</p>
    <button>-</button>
  </div>
  <p class="product-price">$ 800</p>
  <button class="delete-button" >
    <figure class="icon-remove-container"><img src="./assets/eliminar-50.png" alt=""></figure>
  </button>
</div>