<div class="cart-item">
  <figure class="image-product-container"><img src={{product?.imgUrl}} alt={{product?.name}}></figure>
  <div class="product-info-container">
    <p class="product-info-titile">{{product?.name}}</p>
    <p class="product-info-sub-titile">Moonmakers</p>
  </div>
  <div class="product-amount-container">
    <button (click)="moreCount()" [disabled]="disableMore">+</button>
    <p class="product-amount-count">{{product?.productQuantity}}</p>
    <button (click)="lessCount()">-</button>
  </div>
  <p class="product-price">$ {{product?.price}}</p>
  <button (click)="removeProduct()" class="delete-button">
    <figure class="icon-remove-container"><img src="./assets/eliminar-50.png" alt="icon delete"></figure>
  </button>
</div>