<section>

  <div class="container-left">
    <h2>Shopping cart</h2>

    <div class="cart-item-container">

      <app-cart-item *ngFor="let produdct of cartProducts" [product]='produdct'></app-cart-item>

    </div>

    <div class="info-container">

      <div routerLink="" class="total-container">
        <figure><img src="./assets/flecha-izquierda-larga-50.png" alt="home"></figure>
        <p>Home</p>
      </div>
      <p class="total"> Total: ${{totalPrice}} </p>

    </div>
  </div>

  <div class="container-right">
    <h3>Card details</h3>

    <form action="">
      <p>
        <label>First name</label><br>
        <input type="text" name="first_name">
      </p>
      <p>
        <label>Adress</label><br>
        <input type="text" name="last_name">
      </p>
      <p>
        <label>Credit Car Number</label><br>
        <input type="email" name="email" required>
      </p>
      <button>Payment</button>
    </form>

  </div>

</section>