<section>

  <div class="container-left">
    <h2>Shopping cart</h2>

    <div class="cart-item-container">

      <app-cart-item *ngFor="let produdct of cartProducts" [product]='produdct'></app-cart-item>

    </div>

    <div class="info-container">

      <div routerLink="" class="total-container">
        <figure><img src="./assets/flecha-izquierda-larga-50.png" alt="home"></figure>
        <p>Home</p>
      </div>
      <p class="total"> Total: ${{totalPrice}} </p>

    </div>
  </div>

  <div class="container-right">
    <h3>Card details</h3>

    <form (ngSubmit)="checkInformation()">
      <p>
        <label>Full Name</label><br>
        <input type="text" name="fullName" required minlength="10" appForbiddenName="username" [(ngModel)]="fullName"
          placeholder="Minimum 10 letters">
      </p>
      <p>
        <label>Adress</label><br>
        <input type="text" name="adress" required minlength="10" [(ngModel)]="adress" placeholder="Minimum 10 letters">
      </p>
      <p>
        <label>Credit Car Number</label><br>
        <!-- <input type="number" name="creditCarNumber" required min="'1111111111" max="9999999999" maxlength="10"
          [(ngModel)]="creditCarNumber"> -->
        <input type="number" name="creditCarNumber" required min="'1111111111" max="9999999999" maxlength="10"
          [(ngModel)]="creditCarNumber" (ngModelChange)="checkCreditCart($event)" >

      </p>
      <button type="submit" [disabled]="buttonActivate">Payment</button>
    </form>

  </div>

</section>