<footer id="footer">
  <section>
    <figure>
      <img src="./assets/LogoMoonMakers.png" alt="">
    </figure>
    <p>The moonmakers maker products online store</p>
  </section>
  <section>
    <h3>sections</h3>
    <a routerLink="">Home</a>
    <div class="a-container" [routerLink]="['']" fragment="shop">
      <a href="#shop">Shop</a>
    </div>
    <a routerLink="cart">shopping Cart</a>
  </section>
  <section>
    <h3>Contact</h3>
    <p>+90 (0) 501 000 888</p>
    <p>Profra Ana María Berlanga, Luis Donaldo Colosio, 43907 Apan, Hgo.</p>
  </section>
</footer>