section {
  display: flex;
  height: 57px;
  margin-top: 5%;
  margin-bottom: 5%;
}

figure {
  height: 50px;
  width: 50px;
}

div {
  margin-left: 20px;
}

p {
  font-size: 20px;
  font-weight: 400;
}

b {
  font-size: 25;
  font-weight: 800;
}
