<app-navbar></app-navbar>
<app-main-home></app-main-home>

<section class="container-section">
  <app-home-small-product-section [imgUrl]='"./assets/art.png"' [sectionName]='"art"' [titleName]='"design"'
    [colorTitle]='"#8B8B8B"' [colorSection]='"white"' [colorbackground]='"#212121"'></app-home-small-product-section>

  <app-home-small-product-section [imgUrl]='"./assets/camara.png"' [sectionName]='"Production"'
    [titleName]='"filmmaker"' [colorTitle]='"#273B5A"' [colorSection]='"white"' [colorbackground]='"#4B74B4"'>
  </app-home-small-product-section>

  <app-home-big-product-section [imgUrl]='"./assets/laptop.png"' [sectionName]='"Devices"' [titleName]='"Laptop"'
    [colorTitle]='"##AC0200"' [colorSection]='"white"' [colorbackground]='"#ED3836"'>
  </app-home-big-product-section>

  <app-home-big-product-section [imgUrl]='"./assets/laptop.png"' [sectionName]='"Devices"' [titleName]='"Laptop"'
    [colorTitle]='"##AC0200"' [colorSection]='"white"' [colorbackground]='"#ED3836"'>
  </app-home-big-product-section>

  <app-home-small-product-section [imgUrl]='"./assets/art.png"' [sectionName]='"art"' [titleName]='"design"'
    [colorTitle]='"#8B8B8B"' [colorSection]='"white"' [colorbackground]='"#212121"'></app-home-small-product-section>

  <app-home-small-product-section [imgUrl]='"./assets/camara.png"' [sectionName]='"Production"'
    [titleName]='"filmmaker"' [colorTitle]='"#273B5A"' [colorSection]='"white"' [colorbackground]='"#4B74B4"'>
  </app-home-small-product-section>
</section>