<nav class="navbar container">

  <section class=" navbar_right">
    <figure routerLink="" class="navbar-logo-container" ><img class="navbar_logo" src="./assets/LogoMoonMakers.png" alt="LogoMoonMakers"></figure>
    <div>
      <p routerLink="" >Home</p>
      <p routerLink="" >Shop</p>
      <p routerLink="" >About Us</p>
      <p routerLink="" >Contact Us</p>
    </div>
  </section>
  <section class=" navbar_left">
    <figure class="navbar-icon-container"><img class="navbar_icon" src="./assets/búsqueda-50.png" alt="icon search">
    </figure>
    <figure class="navbar-icon-container"><img class="navbar_icon" src="./assets/usuario-50.png" alt="icon user">
    </figure>
    <figure class="navbar-icon-container"><img class="navbar_icon" src="./assets/bolsa-de-compras-50.png"
        alt="icon cart"></figure>
  </section>
</nav>