* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f2f2f2;
}

.navbar {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar_left,
.navbar_right div,
.navbar_right {
  display: flex;
  align-items: center;
}
.navbar_right div {
  width: 100%;
  /* justify-content: space-evenly; */
}

a {
  text-decoration: none;
}
p,
a {
  font-size: 15px;
  color: #707070;
  margin-left: 40px;
}

.navbar_logo {
  padding-top: 3px;
  width: 100%;
}
.navbar-logo-container {
  width: 391px;
  height: 60px;
  cursor: pointer;

  /* margin-left: 40px; */
}

.navbar-icon-container {
  width: 40px;
  margin-left: 40px;
}
.navbar_icon {
  width: 100%;
}

nav section div .a-container {
  width: auto;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 1050px) {
}

.number-products {
  position: static;
}

.cart-shopping-container {
  display: flex;
}

.number-products {
  position: relative;
}

.number {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 55%;
  left: -17px;
  margin: 0;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: white;
}
